.bg-containerr-hiring {
  background: linear-gradient(
    94deg,
    rgba(10, 86, 241, 0.1) 3.38%,
    rgba(230, 143, 80, 0.1) 96.62%
  );
  width: 100wh;
  height: 1200px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hiring-bg-all-container {
}

.hring-top-heading {
  color: #e68f50;
  text-align: center;
  font-family: Outfit;
  font-size: 35px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  letter-spacing: 0.875px;
}

.hring-top-para {
  color: #36454f;
  text-align: center;
  font-family: Outfit;
  font-size: 25px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.625px;
}

.svg-cont {
  display: flex;
  justify-content: flex-start;
}

.hiring-mbl-bg-container {
  display: none;
}

.text-second {
  font-family: Outfit;
  font-size: 22px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.66px;
}

.text-first {
  font-family: Outfit;
  font-size: 25px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.625px;
}
.img-hring-lower {
  display: none;
}

@media screen and (max-width: 728px) {
  .hiring-bg-all-container {
    background: linear-gradient(
      94deg,
      rgba(10, 86, 241, 0.1) 3.38%,
      rgba(230, 143, 80, 0.1) 96.62%
    );
    height: 1150px;
    width: 375px;
    display: flex;
    flex-direction: column;
  }
  .bg-containerr-hiring {
    background: linear-gradient(
      94deg,
      rgba(10, 86, 241, 0.1) 3.38%,
      rgba(230, 143, 80, 0.1) 96.62%
    );
    width: 100wh;
    height: ;
    flex-shrink: 0;
    display: none;
    justify-content: center;
  }

  .hring-top-heading {
    color: #e68f50;

    text-align: center;
    font-family: Outfit;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding-top: 50px;
  }

  .hring-top-para {
    color: #36454f;

    text-align: center;
    font-family: Outfit;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.45px;
  }

  .hiring-mbl-bg-container {
    height: 800px;
    width: 100wh;

    display: flex;
    flex-direction: column;
  }

  .svg-container-mbl {
    background-color: #whute;
    margin-top: 0;
    height: 120px;
    padding-left: 30px;
  }

  .text-second {
    color: #36454f;

    text-align: center;
    font-family: Outfit;
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.39px;
  }

  .text-first {
    color: #0a56f1;

    font-family: Outfit;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.4px;
  }
  .img-hring-lower {
    width: 343px;
    height: 287.805px;
    flex-shrink: 0;

    display: flex;
    align-self: center;
  }
}
