.flex-bg-containerr {
  background: linear-gradient(
    94deg,
    rgba(10, 86, 241, 0.1) 3.38%,
    rgba(230, 143, 80, 0.1) 96.62%
  );
  width: 100wh;
  height: 500px;
  flex-shrink: 0;
}

.flex-heading-con {
  margin-bottom: 30px;
}

.flex-para-con {
  margin-bottom: 40px;
}

.flex-heading {
  color: #e68f50;

  text-align: center;
  font-family: Outfit;
  font-size: 35px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  letter-spacing: 0.875px;
}

.flex-para {
  color: #36454f;

  text-align: center;
  font-family: Outfit;
  font-size: 25px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.625px;
}

.flex-card-cont {
  border-radius: 25px;
  border: 1px solid rgba(10, 86, 241, 0.5);

  background: linear-gradient(
    270deg,
    rgba(10, 86, 241, 0.15) 0.01%,
    rgba(255, 255, 255, 0) 50.53%,
    rgba(10, 86, 241, 0.15) 98.18%
  );
  width: 400px;
  height: 75px;
  flex-shrink: 0;
  margin: 10px;
}

.flex-card-text {
  color: #36454f;
  padding-top: 20px;
  text-align: center;
  font-family: Outfit;
  font-size: 22px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.44px;
}

@media screen and (max-width: 728px) {
  .flex-bg-containerr {
    background: linear-gradient(
      94deg,
      rgba(10, 86, 241, 0.1) 3.38%,
      rgba(230, 143, 80, 0.1) 96.62%
    );
    width: 100wh;
    height: 700px;
    flex-shrink: 0;
  }
  .flex-card-cont {
    border-radius: 25px;
    border: 1px solid rgba(10, 86, 241, 0.5);

    background: linear-gradient(
      270deg,
      rgba(10, 86, 241, 0.15) 0.01%,
      rgba(255, 255, 255, 0) 50.53%,
      rgba(10, 86, 241, 0.15) 98.18%
    );
    width: 343px;
    height: 50px;
    flex-shrink: 0;
    margin: 10px;
  }

  .flex-card-text {
    color: #36454f;
    padding-top: 12px;
    text-align: center;
    font-family: Outfit;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.32px;
  }

  .flex-heading {
    color: #e68f50;
    padding-left: 7px;
    padding-right: 7px;
    text-align: center;
    font-family: Outfit;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }

  .flex-para {
    color: #36454f;

    text-align: center;
    font-family: Outfit;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.45px;
  }
}
