.pricing-bg-container {
  background: linear-gradient(
    94deg,
    rgba(10, 86, 241, 0.1) 3.38%,
    rgba(230, 143, 80, 0.1) 96.62%
  );
  width: 100wh;
  height: ;
  flex-shrink: 0;
}

.price-card-main-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.price-heading {
  color: #e68f50;

  text-align: center;
  font-family: Outfit;
  font-size: 35px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  letter-spacing: 0.875px;
  margin-bottom: 20px;
}

.price-para {
  color: #36454f;

  text-align: center;
  font-family: Outfit;
  font-size: 25px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.625px;
  margin: 20px;
}

.price-card-img {
  width: 75px;
  height: 75px;
  flex-shrink: 0;
  margin: 10px;
}

.price-card-item {
  width: 620px;
  height: 293px;
  flex-shrink: 0;
  border-radius: 25px;
  border-top: 1px solid rgba(54, 69, 79, 0.25);
  border-right: 1px solid rgba(54, 69, 79, 0.25);
  border-left: 1px solid rgba(54, 69, 79, 0.25);
  background: #fff;
  box-shadow: 0px 8px 10px 0px rgba(54, 69, 79, 0.15);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 20px;
}

.price-card-heading {
  color: #0a56f1;

  text-align: center;
  font-family: Outfit;
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.66px;
  margin: 10px;
}

.price-card-para {
  color: #36454f;

  text-align: center;
  font-family: Outfit;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.6px;
  margin: 10px;
}

@media screen and (max-width: 375px) {
  body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
  }
  .pricing-bg-container {
    background: linear-gradient(
      94deg,
      rgba(10, 86, 241, 0.1) 3.38%,
      rgba(230, 143, 80, 0.1) 96.62%
    );
    width: 375px;
    height: ;
    flex-shrink: 0;
  }

  .price-card-main-container {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    flex-wrap: nowrap;
    overflow-x: scroll;
  }

  .price-heading {
    color: #e68f50;

    text-align: center;
    font-family: Outfit;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }

  .price-para {
    color: #36454f;

    text-align: center;
    font-family: Outfit;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.45px;
  }

  .price-card-img {
    width: 50px;
    height: 50px;
    margin: 10px;
  }

  .price-card-item {
    width: 300px;
    height: 276px;
    flex-shrink: 0;
    border-radius: 25px;
    border-top: 1px solid rgba(54, 69, 79, 0.25);
    border-right: 1px solid rgba(54, 69, 79, 0.25);
    border-left: 1px solid rgba(54, 69, 79, 0.25);
    background: #fff;
    box-shadow: 0px 8px 10px 0px rgba(54, 69, 79, 0.15);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 20px;
  }

  .price-card-heading {
    color: #0a56f1;

    text-align: center;
    font-family: Outfit;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.48px;
  }

  .price-card-para {
    color: #36454f;

    text-align: center;
    font-family: Outfit;
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.39px;
  }
}
