.hs-bg-containerr {
  background: linear-gradient(
    94deg,
    rgba(10, 86, 241, 0.1) 3.38%,
    rgba(230, 143, 80, 0.1) 96.62%
  );
  width: 100wh;
  height: 800px;
  flex-shrink: 0;
}

.hs-card-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 150px;
}

.hs-headind-1 {
  color: #e68f50;

  text-align: center;
  font-family: Outfit;
  font-size: 35px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  letter-spacing: 0.875px;
}

.hs-headind-2 {
  color: #36454f;

  text-align: center;
  font-family: Outfit;
  font-size: 25px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.625px;
}

.hs-card {
  margin: 15px;
  border-radius: 25px;
  border-top: 1.5px solid rgba(54, 69, 79, 0.15);

  border-left: 1.5px solid rgba(54, 69, 79, 0.15);

  background: #fff;

  box-shadow: 8px 8px 10px 0px rgba(54, 69, 79, 0.15);
  width: 300px;
  height: 407px;
  flex-shrink: 0;
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; */
}

.circle {
  position: relative;
  top: 0;
  left: 0;
  transform: translate(-50%, -50%);
  z-index: 1; /* Ensure the circle is above other content */
  margin-left: 150px;
  display: block;
}

.circle-mb {
  position: relative;
  top: 0;
  left: 0;
  transform: translate(-50%, -50%);
  z-index: 1; /* Ensure the circle is above other content */
  margin-left: 150px;
  display: none;
}

.Hs-card-heading {
  color: #0a56f1;
  width: 250px;
  text-align: center;
  font-family: Outfit;
  font-size: 25px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.75px;
  margin-bottom: 20px;
  position: relative;

  transform: translate(-50%, -50%);
  top: -40px;
  left: 140px;
}
.Hs-card-para {
  color: #36454f;

  text-align: center;
  font-family: Outfit;
  font-size: 22px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.66px;
  width: 250px;
  position: relative;

  transform: translate(-50%, -50%);
  top: 10px;
  left: 140px;
}

.hs-mbl-img {
  display: none;
}

@media screen and (max-width: 728px) {
  body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
  }
  .hs-bg-containerr {
    background: linear-gradient(
      94deg,
      rgba(10, 86, 241, 0.1) 3.38%,
      rgba(230, 143, 80, 0.1) 96.62%
    );
    width: 375px;
    height: 700px;
    flex-shrink: 0;
  }

  .hs-card-container {
    display: flex;
    padding-top: 30px;
    flex-direction: row;
    justify-content: start;
    margin-top: 50px;
    overflow-x: scroll;
    height: 280px;
  }

  .hs-headind-1 {
    color: #e68f50;

    text-align: center;
    font-family: Outfit;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }

  .hs-headind-2 {
    color: #36454f;

    text-align: center;
    font-family: Outfit;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.45px;
  }

  .hs-card {
    border-radius: 25px;
    border-top: 1.5px solid rgba(54, 69, 79, 0.15);
    border-left: 1.5px solid rgba(54, 69, 79, 0.15);
    background: #fff;
    box-shadow: 8px 8px 10px 0px rgba(54, 69, 79, 0.15);
    width: 300px;
    height: 221px;
    flex-shrink: 0;
  }

  .circle {
    position: relative;
    top: 0;
    left: 0;
    transform: translate(-50%, -50%);
    z-index: 1; /* Ensure the circle is above other content */
    margin-left: 150px;
    display: none;
  }
  .circle-mb {
    position: relative;
    top: 0;
    left: 0;

    transform: translate(-50%, -50%);
    z-index: 1; /* Ensure the circle is above other content */
    margin-left: 150px;
    display: flex;
  }
  .Hs-card-heading {
    color: #0a56f1;

    text-align: center;
    font-family: Outfit;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.54px;
    margin-bottom: 5px;
    position: relative;

    transform: translate(-50%, -50%);
    top: -20px;
    left: 140px;
  }
  .Hs-card-para {
    color: #36454f;

    text-align: center;
    font-family: Outfit;
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.39px;
    width: 250px;
    position: relative;

    transform: translate(-50%, -50%);
    top: 0px;
    left: 140px;
  }

  .hs-mbl-img {
    display: block;
    width: 343px;
    height: 309.653px;
    flex-shrink: 0;
    align-self: center;
  }
}
